/*
div {
  outline: red solid 1px;
}
*/

/* Шрифты для всей страницы */

p {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h1 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h2 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h3 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h4 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

h5 {
font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


.line_break {
  width: 100%;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  background-image: url("../images/logo_place_header.svg");
}

.font-family {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  position: absolute;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
}

.header__subtitle_position {
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  align-self: flex-end;
}

.header__subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header_link :hover {
  
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  margin-top: 64px;
  background-color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__span-accent {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__brief_text {
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph_text {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-title {
  width: 60%;
}

.section-title__text {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin-top: 20px;
  width: 60%;
}

.section-subtitle__text {
  text-align: center;
  align-self: flex-end;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  height: 890px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.feinman__title {
  width: 648px;
  text-align: center;
  margin-top: 100px;
}

.feinman__title_text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
}

.feinman__subtitle {
  margin-top: 70px;
}

.feinman__subtitle_text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feinman__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 48px;
}

.feinman__link_text {
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -270px;
  z-index: 2;
}

.section-title__theme_dark {
  width: 60%;
  margin-top: 90px;
  z-index: 3;
}

.section-title__theme_dark_text {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.section-subtitle__theme_dark {
  width: 60%;
  margin-top: 20px;
  z-index: 3;
}

.section-subtitle__theme_dark_text {
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table__theme_dark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 90px;
  width: 1100px;
  z-index: 3;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  z-index: 3;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  background-image: url("../images/logo_place_footer.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 183px 35px;
  height: 35px;
  width: 183px;
}

.footer__author {
  margin: 18px 0;
}

.footer__author_text {
  margin: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading_text {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__column-links_text {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-bottom: 90px;
}

.footer__social-icon_heading-text{
  margin: 0 0 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__social-icon_text {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon_instagram {
  background-image: url("../images/vk_color_white.svg");
  background-repeat: no-repeat;
  background-position-y: 3px;
}

.footer__social-icon_vk {
  background-image: url("../images/instagram_color_white.svg");
  background-repeat: no-repeat;
  background-position-y: 3px;
}














